<!-- @copyright T.Mallet -->
<!-- @file loading.html -->

<!doctype html>
  <html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>Loader example</title>
    <!-- import loader style from css file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/loader.css') }}">
    <!-- import javascript -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/loading.js') }}"></script>
  </head>
  <body>
    <div class="loader center">
    </div>
  </body>
  </html>
